

.client {
    background-color: $color-primary-dark;
    color: $color-white;
    grid-column: sidebar-start / full-end;
    grid-template-columns: $sidebar-width 1fr;
    @include respond(phone) {
        grid-template-columns: 1fr;
    }
    display: grid;

    &__list {
        overflow: auto;
        @include respond(phone) {
            position: fixed;
            padding-top: 3rem;
            top: $top-header;
            left: -2*$sidebar-width;
            transition: all .3s ease-in-out;
        }
        &--toggle {
            display: none;
        @include respond(phone) {
                display: block;
                height: 3rem;
                width: 3.2rem;
                padding-left: 10rem;
            }
        }            
    }
    &__list.active {
        background-color: $color-primary-dark;
        position: fixed;
        padding-top: 3rem;
        top: $top-header;
        left: 0;
        //transform: transposeX(2*$sidebar-width);
        height: 90vh;
        overflow: scroll;
    }
    &__list--name {
        background-color: $color-primary-dark;
        font-size: 2rem;
        font-weight: 400;
        margin-top: .5rem;
        margin-left: .5rem;
        padding: .2rem;
        line-height: 1;
        border: 1px solid $color-primary-light;
        &:hover {
            transform: scale(1.25);
            transition: all .2s;
        }
    }
}

.card {

    padding: 0 2rem;
    @include respond(phone) {
        padding: 0 2px;
    }

    grid-template-columns: 1fr;
    @include respond(phone-l) {
        grid-template-rows: min-content 45vh;
    }
    grid-template-rows: min-content 1fr;
    display: grid;

    &__banner {
        padding: 1rem;
        background-color: $color-primary;
        color: $color-white;
        font-size: 2rem;
        grid-template-columns: min-content 1fr;
        display: grid;
    }

    &__img {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        @include respond(tablet-p) {
            width: 10rem;
            height: 10rem;
            shape-outside: circle(50%);
            float: left;
                }
    }
    &__img.edit {
        border: 2px solid $color-edit-image;
    }

    &__details {
        background-color: $color-primary-dark;
        padding-top: 2rem;
        color: $color-white;
        overflow: auto;
        grid-template-columns: 1fr max-content;
        grid-template-rows: minmax(min-content, 1fr);
        display: grid;

        &--list {
            grid-template-columns: max-content 1fr;
            display: grid;
        }
        &--prompt {
            justify-self: end;
            font-size: 2rem;
            text-decoration: none;
            padding: 0 2rem;
            @include respond(phone) {
                padding: 0 .5rem;
            }
                }
        &--item {
            justify-self: start;
            font-size: 2rem;
            text-decoration: none;
        }
        &--item.edit {
            background-color: $color-edit-text;
            color: $color-black;
        }
        &--team {
            background-color: $color-primary-dark;
        }
        &--member {
            background-color: $color-primary;
            color: $color-primary-dark;
            text-decoration: none;
            font-size: 2rem;
            margin: 1rem;
            padding: .5rem 1rem;
            line-height: 1;
            border: 1px solid $color-secondary;
            &:hover {
                transform: scale(1.25);
                transition: all .2s;
            }
            @include respond(phone) {
                padding: 0 .5rem;
            }
        }
        }
}