.footer {
    //background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color: $color-primary;
    background-color: $color-black;
    grid-column: 1 / -1;
    //grid-row: 3 / 4;

    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-column-gap: 2rem;
    align-items: center;
    justify-items: center;
    justify-content: stretch;
    
        &__button {
            @include button(var(--color-secondary), $color-white);
            padding: .5rem 2rem;
        }
    }


.copyright {
    width: 70%;
    margin: 3rem auto;
    text-align: center;
    font-size: 1.4rem;
}